@page "/forum"
@using Forum.API.DTO.Posts
@using Forum.Frontend.Components.Controls
@using Forum.Frontend.Services
@using Forum.Logic.Models
@using Newtonsoft.Json
@inject ICookie Cookie
@inject IHttpClientFactory ClientFactory
@inject NavigationManager NavigationManager
@rendermode RenderMode.InteractiveServer

<div style="width:1000px;margin-left:auto;margin-right:auto">

    <MudGrid Justify="Justify.FlexStart" Style="margin-left:auto;margin-right:auto">
        <MudItem Style="margin-left:0px">
            <div>
                <h3>Chesno4ok's Forum</h3>
                <MudButton Variant="Variant.Filled" OnClick="@CreatePost">Create new post</MudButton>
                <MudButton Variant="Variant.Filled" OnClick="@Leave">Leave</MudButton>
            </div>
        </MudItem>
        @foreach (var post in @posts)
        {
            <MudItem xs="10">
                <MudPaper>
                    <PostCard post="@post" />
                </MudPaper>
            </MudItem>
        }
    </MudGrid>
</div>


@code {
    private string token = "";
    private HttpClient client;
    private List<PostResponseDto>? posts { get; set; } = new List<PostResponseDto>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        client = ClientFactory.CreateClient("backend");
        token = await Cookie.GetValue("Authorization");
        client.DefaultRequestHeaders.Add("Authorization", $"Bearer {token}");

        await base.OnParametersSetAsync();

        posts.Clear();
        GetAllPosts();
        posts.OrderBy(i => i.PublicationDate);
        StateHasChanged();
    }

    private void GetAllPosts()
    {
        var response =  client.GetAsync("api/post/get_all").Result;

        var json =  response.Content.ReadAsStringAsync().Result;
        var posts = JsonConvert.DeserializeObject<PostResponseDto[]>(json);

        this.posts = new List<PostResponseDto>(posts);
    }

    private async Task CreatePost()
    {
        NavigationManager.NavigateTo("/newpost");
    }

    private async Task Leave(){
        await Cookie.SetValue("Authorization", "");
        NavigationManager.NavigateTo("/");
    }
}
